.bs-docs-sidebar {
    padding-right: 0px;    
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;    
}
/* all links */

.bs-docs-sidebar .nav>li {
    margin-top: 0px;
    border-bottom: 1px solid #e8e8e8;
}

.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 5px solid transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
}
/* nested links */

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}
/* active & hover links */

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    text-decoration: none;
    background-color: #e8e8e8;
    border-left-color: #008CBA;
    color: #008CBA;
}
/* all active links */

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */

.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}
/* hide inactive nested list */

.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */

.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}
