<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="main-box infographic-box" ui-sref="app.users({idSystem: system._id})">
            <i class="fa fa-user emerald-bg"></i>
            <span class="headline">Usuários</span>
            <span class="value"><span>{{system.size.user}}</span></span>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="main-box infographic-box">
            <i class="fa fa-users red-bg"></i>
            <span class="headline">Nível Usuário</span>
            <span class="value"><span>0</span></span>
            </span>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="main-box infographic-box">
            <i class="fa fa-info-circle yellow-bg"></i>
            <span class="headline">Logs</span>
            <span class="value"><span>0</span></span>
            </span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="main-box infographic-box">
            <i class="fa fa-bar-chart green-bg"></i>
            <span class="headline">Indicadores</span>
            <span class="value"><span>0</span></span>
            </span>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="main-box infographic-box">
            <i class="fa fa-cubes purple-bg"></i>
            <span class="headline">Funcionalidades</span>
            <span class="value"><span>0</span></span>
            </span>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="main-box infographic-box">
            <i class="fa fa-tags emerald-bg"></i>
            <span class="headline">Versões</span>
            <span class="value"><span>1.0.0</span></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="main-box infographic-box">
            <i class="fa fa-usd red-bg"></i>
            <span class="headline">Planos</span>
            <span class="value"><span>0</span></span>
            </span>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="main-box infographic-box">
            <i class="fa fa-bug yellow-bg"></i>
            <span class="headline">Exceções</span>
            <span class="value"><span>0</span></span>
            </span>
        </div>
    </div>
</div>