<div class="row">
    <div class="col-md-12">
        <div class="hpanel">

            <div class="panel-heading">Usuários</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="example1_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <table class="display table table-bordered dataTable no-footer">
                        <thead>
                            <tr>
                                <th> </th>
                                <th><span translate="LABEL.NAME"/></th>
                                <th><span translate="LABEL.EMAIL"/></th>
                                <th class="text-center"><span translate="LABEL.GENDER"/></th>
                                <th class="text-center col-xs-1"><span translate="LABEL.ACOES"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users track by $index">
                                <td class="text-center">
                                    <span class="name-abrev" ng-style="user.color">{{user.shortname | uppercase}}</span>
                                </td>
                                <td>{{user.fullname}}</td>
                                <td>{{user.email}}</td>
                                <td class="text-center">{{user.gender | uppercase}}</td>
                                <td class="text-center">                            
                                    <button class="btn btn-info btn-xs" ui-sref="userSystemEdit({idUser: user.id, idSystem: system.idSystem})">
                                        <i class="fa fa-edit fa-xs"></i>
                                    </button>                        
                                    <button class="btn btn-danger btn-xs" ui-sref="userSystemEdit({idUser: user.id, idSystem: system.idSystem})">
                                        <i class="fa fa-trash fa-xs"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="panel-footer">
                Table - 6 rows
            </div>
        </div>
    </div>
</div>


<div class="principal">

    <div class="row">

        <div class="col-md-12 col-md-12">
        Usuarios
        </div>

    </div>    

    <div class="row">

        <div class="col-md-12 col-md-12">
                            
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th> </th>
                        <th><span translate="LABEL.NAME"/></th>
                        <th><span translate="LABEL.EMAIL"/></th>
                        <th class="text-center"><span translate="LABEL.GENDER"/></th>
                        <th class="text-center col-xs-1"><span translate="LABEL.ACOES"/></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users track by $index">
                        <td class="text-center">
                            <span class="name-abrev" ng-style="user.color">{{user.shortname | uppercase}}</span>
                        </td>
                        <td>{{user.fullname}}</td>
                        <td>{{user.email}}</td>
                        <td class="text-center">{{user.gender | uppercase}}</td>
                        <td class="text-center">                            
                            <button class="btn btn-info btn-xs" ui-sref="userSystemEdit({idUser: user.id, idSystem: system.idSystem})">
                                <i class="fa fa-edit fa-xs"></i>
                            </button>                        
                            <button class="btn btn-danger btn-xs" ui-sref="userSystemEdit({idUser: user.id, idSystem: system.idSystem})">
                                <i class="fa fa-trash fa-xs"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>  

        </div>

    </div>

</div>
